/* styles/globals.css or your global CSS file */
html, body {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Prevent double-tap to zoom */
* {
  touch-action: manipulation;
}

@import "tailwindcss";
  
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
  /* primary set to #059669 */
  --primary: 161.4 93.6% 30.4%; /* #059669 */
  --primary-foreground: 0 0% 100%; /* white */
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 359 100% 60%;
    --destructive-foreground: 0 0% 98%;
    --success: 	161.4 93.6% 30.4%;
    --success-foreground: 0 0% 100%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
  /* dark mode primary: #059669 */
  --primary: 161.4 93.6% 30.4%; /* #059669 */
  --primary-foreground: 0 0% 100%; /* white */
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359 100% 60%;
    --destructive-foreground: 0 85.7% 97.3%;
    --success: 	161.4 93.6% 30.4%;
    --success-foreground: 0 0% 100%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

/* Leaflet overrides for dark mode */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
}

.dark .leaflet-popup-content-wrapper,
.dark .leaflet-popup-tip {
  background: #18181b;
  color: white;
}

.dark .leaflet-popup-close-button {
  color: white !important;
}

/* Custom cluster styling */
.marker-cluster-small {
  background-color: rgba(16, 185, 129, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(16, 185, 129, 0.8);
}

.marker-cluster-medium {
  background-color: rgba(251, 191, 36, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(251, 191, 36, 0.8);
}

.marker-cluster-large {
  background-color: rgba(239, 68, 68, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(239, 68, 68, 0.8);
}

.maplibregl-popup-content {
  @apply dark:bg-zinc-900 dark:text-white;
}

.maplibregl-popup-close-button {
  @apply dark:text-white;
}